<h2>Привет, {{user}}</h2>
<p>Список новых публикаций:</p>
<ul>
  {{#each links}}
    <li>
      Дата публикации: {{this.dateOfCreation}}
      <a href=http://localhost:3333/api/publication/{{this.id}}>Ссылка на публикацию...</a>
    </li>
  {{/each}}
</ul>
